<h4 class="related-posts__header">Últimos artículos</h4>
{% for post in blogs[blog.permalink].posts %}
<div class="media">
  <div class="media-body">
    <p class="related-posts__post-title">
      <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a>
      <br>
      <em>{{ post.published_at | datetime }}</em>
    </p>
  </div>
</div>
{% endfor %}

{% if tags | length > 0 %}
<h4 class="tags__title">Tags</h4>
<ul class="tags__list">
  {% for tag in tags %}
  <li>
    <a href="/blogs/{{ blog.permalink }}/tags/{{ tag.permalink }}">
      {{ tag.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
