<div class="placeholder-section">
  <div class="placeholder-helper">
    <div class="placeholder-info">
      <h3>¡Falta poco!</h3>
      <p>Todavía no existen productos, una vez que empieces a crearlos aparecerán aquí.</p>
      <br>
      <a href="/admin/products" class="btn">Gestionar Productos</a>
    </div>
  </div>
  <div class="placeholder-content">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="product-card">
          <div class="product-card__thumb">
            <img class="img-responsive product-card__thumb-image" src="{{ 'placeholders/product-1.jpg' | global_img_url }}" alt="Producto de ejemplo">
          </div>
          <div class="product-card__details">
            <h4 class="product-card__name">Producto de ejemplo</h4>
            <span class="product-card__price">
              {{ '8900' | money('symbol', 'code') }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="product-card">
          <div class="product-card__thumb">
            <img class="img-responsive product-card__thumb-image" src="{{ 'placeholders/product-2.jpg' | global_img_url }}" alt="Producto de ejemplo">
          </div>
          <div class="product-card__details">
            <h4 class="product-card__name">Producto de ejemplo</h4>
            <span class="product-card__price">
              {{ '10000' | money('symbol', 'code') }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="product-card">
          <div class="product-card__thumb">
            <img class="img-responsive product-card__thumb-image" src="{{ 'placeholders/product-3.jpg' | global_img_url }}" alt="Producto de ejemplo">
          </div>
          <div class="product-card__details">
            <h4 class="product-card__name">Producto de ejemplo</h4>
            <span class="product-card__price">
              {{ '24900' | money('symbol', 'code') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="product-card">
          <div class="product-card__thumb">
            <img class="img-responsive product-card__thumb-image" src="{{ 'placeholders/product-4.jpg' | global_img_url }}" alt="Producto de ejemplo">
          </div>
          <div class="product-card__details">
            <h4 class="product-card__name">Producto de ejemplo</h4>
            <span class="product-card__price">
              {{ '8900' | money('symbol', 'code') }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="product-card">
          <div class="product-card__thumb">
            <img class="img-responsive product-card__thumb-image" src="{{ 'placeholders/product-5.jpg' | global_img_url }}" alt="Producto de ejemplo">
          </div>
          <div class="product-card__details">
            <h4 class="product-card__name">Producto de ejemplo</h4>
            <span class="product-card__price">
              {{ '10000' | money('symbol', 'code') }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="product-card">
          <div class="product-card__thumb">
            <img class="img-responsive product-card__thumb-image" src="{{ 'placeholders/product-6.jpg' | global_img_url }}" alt="Producto de ejemplo">
          </div>
          <div class="product-card__details">
            <h4 class="product-card__name">Producto de ejemplo</h4>
            <span class="product-card__price">
              {{ '24900' | money('symbol', 'code') }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
