<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1 class="section-title">{{ product.name }}</h1>
  </div>
</div>

<div class="product">
  <div class="product-single__pics">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
      {% if product.images | length > 0 %}
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <img src="{{ product.image_url }}" class="img-responsive center-block" id="zoom" itemprop="thumbnail" alt="{{ product.name }}" />
      </figure>
      {% else %}
      <img src="{{ 'placeholders/product-11.jpg' | global_img_url }}" class="img-responsive center-block">
      {% endif %}
      </div>
    </div>

    {% if product.images | length > 1 %}
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="product__carousel">
          {% for images_row in product.images | batch(4) %}
          <div class="row">
            {% for image in images_row %}
            <div class="col-sm-3">
              <div class="slide product__carousel__thumb">
                <a href="#" data-image="{{ image.url }}">
                  <img src="{{ image.url }}" class="img-responsive center-block" alt="{{ product.name }}" />
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if product.description is not empty %}
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="product-single__description">
        <p>
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="product-single text-center">
    {% if not product.is_in_stock %}<span class="label label-danger">Agotado</span>{% endif %}

    <form action="/carrito/agregar" method="post" class="form-inline">
      <input type="hidden" name="sku_id" value="{{ product.sku.id }}" id="js-sku-id">

      {% for attribute, attribute_variants in product.skus_modifiers %}
      <div class="form-group">
        <label>{{ attribute }}</label>
        <select class="sku-selectors form-control" id="sku-selectors-{{ loop.index0 }}">
          {% for attribute_variant in attribute_variants %}
          <option value="{{ attribute_variant }}">{{ attribute_variant }}</option>
          {% endfor %}
        </select>
      </div>
      {% endfor %}

      {% if settings.show_quantity_box %}
      <div class="form-group">
        <div class="product-single__qty">
          <label>Cantidad</label>
          <input id="quantity" type="number" name="quantity" value="1" class="form-control" />
        </div>
      </div>
      {% endif %}

      <div class="form-group">
        <div class="product-single__price" id="js-price-preview">
        <del>{{ product.compared_price is defined ? product.compared_price | money('symbol', 'code') : '' }}</del>
          {{ product.price | money('symbol', 'code') }}
        </div>
      </div>

      <div class="form-group">
        {% if product.is_in_stock %}
        <button type="submit" class="btn btn-lg" id="js-add-to-cart">
          <i class="fa fa-shopping-cart"></i> Añadir al carrito
        </button>
        {% else %}
        <p>No disponible</p>
        {% endif %}
      </div>
    </form>
  </div>

  {% if settings.enable_share_products %}
   <div class="product-single__social row text-center">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
    {% include '_social-share.twig' %}
    </div>
  </div>
  {% endif %}
</div>

{% if settings.enable_product_image_zoom %}
{{ 'jquery.elevatezoom.min.js' | asset_url | script_tag }}
{% endif %}

{% if product.is_in_stock %}
{{ 'sku-select/v1/sku-select.min.js' | global_asset_url | script_tag }}
<script>
  var formatMoney = function(price) {
    var formatPrice = price /= 100;

    formatPrice = formatPrice.toFixed(2);
    formatPrice = formatPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

    return '$ ' + formatPrice + ' {{ store.currency }}';
  }

  $(document).ready(function () {
    var firstLoad = true;

    new Shoperti.SkuSelect({
      selector: 'sku-selectors',
      skus: {{ product.skus | json }}
    }, function(sku) {
      if (sku && !(sku.stock_policy !== 'none' && sku.in_stock < 1)) {
        jQuery('#js-sku-id').val(sku.id);
        jQuery('#js-add-to-cart').removeClass('disabled').removeAttr('disabled', 'disabled')
        if (sku.price < sku.compared_price) {
          jQuery('#js-price-preview').html("<del>" + formatMoney(sku.compared_price) + "</del> " + formatMoney(sku.price));
        } else {
          jQuery('#js-price-preview').html(formatMoney(sku.price));
        }
        var image = sku.image_url;
        if (!firstLoad) {
          {% if settings.enable_product_image_zoom %}
          var ez = $('#zoom').data('elevateZoom');
          if (ez.getCurrentImage() != image) {
            ez.swaptheimage(image, image);
          }
          {% else %}
          var ez = $('#zoom');
          if (ez.attr('src') != image) {
            ez.attr("src", image);
          }
          {% endif %}
        }
        firstLoad = false;
      } else {
        jQuery('#js-add-to-cart').addClass('disabled').attr('disabled', 'disabled')
        jQuery('#js-price-preview').html('No disponible');
      }
    });
  });
</script>
{% endif %}
