{% extends 'layout.twig' %}

{% block body %}
<div class="row blog-posts">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
  <h1 class="blog-posts__header section-title">{{ blog.title }}</h1>
  {% for post in posts %}
  <div class="blog-posts__post">
    <hr class="divider">
    <h2 class="blog-posts__post-title">
      <a class="blog-posts__post-title" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="blog-posts__date">{{ post.published_at | datetime }}</p>
    <p class="blog-posts__post-summary">
      {{ (post.summary is not empty ? post.summary : post.content) | truncate_words(70) }}
    </p>
    <p>
      <a class="btn btn-lg" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">Leer más →</a>
    </p>
  </div>
  {% endfor %}
  </div>
</div>

{% include '_pagination.twig' %}

{% endblock %}
