<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ settings['favicon.png'] | asset_url }}" type="image/png" />
  {% endif %}

  <title>{{ page_title }}{% if current_page != 1 %} | Página {{ current_page }}{% endif %}{% if store.name not in page_title %} | {{ store.name }}{% endif %}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}"/>
  {% endif %}

  {% include '_og-meta-tags.twig' %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  {% if 'home' in template or 'product' in template %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  {% endif %}
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" media="screen">

  {% include '_google-fonts.twig' %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% if 'home' in template or 'product' in template %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  {% endif %}

  <style>
    html, body {
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('{{ 'blur-password.jpg' | asset_url }}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    a#password-modal-link {
      color: #ffffff;
    }

    .content-table {
      display: table;
      height: 100%;
      width: 100%;
    }

    .content-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      text-align: center;
      color: #ffffff;
    }

    .title {
      font-size: 62px;
      margin-bottom: 40px;
      color: #ffffff;
    }
  </style>

  {{ head_content }}
</head>
<body>
  <div class="content-table">
    <div class="content-cell">
      <h1 class="store">{{ store.name }}</h1>

      <div class="title">Estamos en mantenimiento</div>
  </div>
</body>
</html>
