<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ settings['favicon.png'] | asset_url }}" type="image/png" />
  {% endif %}

  <title>{{ page_title }}{% if current_page != 1 %} | Página {{ current_page }}{% endif %}{% if store.name not in page_title %} | {{ store.name }}{% endif %}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}"/>
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" media="screen">

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% if 'Google' in settings.header_font %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove('Google+') }}:300,400,700">
  {% endif %}
  {% if 'Google' in settings.base_font and settings.base_font != settings.header_font %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove('Google+') }}:300,400,700">
  {% endif %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    html, body {
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('{{ 'blur-password.jpg' | asset_url }}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    a#password-modal-link {
      color: #ffffff;
    }

    .content-table {
      display: table;
      height: 100%;
      width: 100%;
    }

    .content-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      text-align: center;
      color: #ffffff;
    }

    .title {
      font-size: 62px;
      margin-bottom: 40px;
      color: #ffffff;
    }

    .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
      pointer-events:none;
    }

    .vertical-align-center {
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
    }

    .modal-content {
      border-radius: 0;
      width:inherit;
      height:inherit;
      /* To center horizontally */
      margin: 0 auto;
      pointer-events:all;
    }
  </style>
</head>
<body>
  <div class="content-table">
    <div class="content-cell">
      {% if errors is not empty %}
      <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% for message in errors %}
        <div>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}

      {% if success is not empty %}
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% for message in success %}
        <div>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}

      <h1 class="store">{{ store.name }}</h1>

      <div class="title">Próxima apertura</div>
      <p class="lead">Entérate cuando abrimos</p>

      <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <form action="/contacto" method="post">
            <div class="input-group">
              <input class="form-control" type="email" name="email" placeholder="Email">
              <span class="input-group-btn">
                <button class="btn" type="submit">Enviar!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      {% if settings.share_facebook or settings.share_twitter or settings.share_google %}
      <br>
      <p class="social-share">
        ¡Corre la voz!
        {% include '_social-share.twig' %}
      </p>
      {% endif %}
      <br>
      <a href="#" data-toggle="modal" data-target="#password-modal" id="password-modal-link">
        <i class="mdi mdi-lock-outline"></i>
        Entrar usando contraseña
      </a>
    </div>
  </div>

  <div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="password-modal-label">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form action="/password" method="post">
              <div class="form-group">
                <label class="lead" for="password">Introduce la contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="******">
              </div>
              <button class="btn" type="submit">
                Entrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
